@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* { box-sizing: border-box; }

:root {
  --prime-color: #f72210;
}

div { font-family: 'Roboto Condensed', sans-serif; }

a { color: black; }

a:hover {
  text-decoration: none;
  color: black;
}

a.hover-underline:hover { border-bottom: 1px solid var(--prime-color); }

a.hover-prime:hover { color: var(--prime-color); }

a.hover-dark { background-color: #272727; }

.page-container {
  max-width: 1309px;
  height: 2000px;
}

.font-roboto { font-family: 'Roboto Condensed', sans-serif; }

.font-arial { font-family: Arial, Helvetica, sans-serif; }

/* ============================================== Nav Section ============================================= */

.nav-top {
  background-color: #f72210;
  height: 50px;
  align-items: center;
}

.nav-top time { display: none; }

.nav-logo {
  width: 132px;
  height: 20px;
  margin-left: 1em;
}

.nav-top-right span {
  color: white;
  font-weight: 600;
  font-size: 1.15rem;
}

.btn-subs {
  color: var(--prime-color);
  font-weight: 600;
  font-size: 1.15rem;
  background-color: white;
  padding: 0.2em;
  border: none;
  margin-left: 0.5em;
}

.btn-subs i {
  margin-left: 0.5em;
}

.btn-nav-menu {
  background-color: transparent;
  border: none;
  color: #fb9a94;
  font-size: 1.8rem;
  position: relative;
  top: 4px;
}

.nav-bottom {
  display: none;
  background-color: white;
  padding: 1em 0.2em;
  padding-right: 158px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.nav-bottom .nav-bottom-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.nav-bottom-links span {
  display: inline-block;
  white-space: nowrap;
  flex-grow: 1;
  padding: 0.2em 1px;
  text-align: center;
  border-right: 1px solid #d9d9d9;
}

.nav-bottom a {
  font-size: 1.15rem;
  font-weight: 700;
}

.nav-bottom-links a:hover { color: var(--prime-color); }

.nav-bottom-right {
  position: absolute;
  top: 21px;
  right: 4.6em;
  color: rgba(0, 0, 0, 0.36);
}

.search-span {
  font-size: 1.032rem;
  margin-right: 0.3em;
}

.curvy-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  border-left: 12px solid white;
  border-top: 13px solid var(--prime-color);
}

/* =========================================== Main Contents Section ====================================== */

.main-contents {
  background-color: white;
  padding: 1.2em 0.86em;
  margin-top: 2px;
}

.common-header {
  font-weight: 600;
  color: #a0a0a0;
  margin-bottom: 0.5em;
}

.col1-left,
.col1-right,
.col2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #e2e2e2;
}

/* ==== Col Card styling ==== */

.col-card {
  padding-bottom: 1.2em;
}

.card-img-link {
  display: inline-block;
  position: relative;
  width: 100%;
}

.col-card-img {
  display: block;
  width: 100%;
}

.img-span-rw {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em 0.9em;
  background-color: #e7e7e6;
  font-weight: 600;
  font-size: 17px;
  color: var(--prime-color);
}

.img-span-bw { 
  color: #3581f4;
  padding: 1em 0.8em;
}

.card-h1 {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.card-p { 
  font-size: 13px;
  line-height: 20px;
}

/* ====================== */

.mob-hidden-featured {
  max-width: 330px;
  margin: auto;
  line-height: 0;
}

@media screen and (min-width: 768px) {

  /* ============================================== Nav Section ============================================= */

  /* =========================================== Main Contents Section ====================================== */

  .main-contents { padding: 1.2em 1.035em; }

  .col1-left { width: 44.5%; }

  .col1-right { width: 55.5%; }

  .col1-left,
  .col1-right,
  .col2 {
    margin-bottom: 0;
    padding: 0 10px;
    border: none;
  }

  /* ==== Col Card styling ==== */

  .card-h1 { font-size: 24px; }

  .card-p { font-size: 15px; }

  /* ====================== */
}

@media screen and (min-width: 992px) {
  /* ============================================== Nav Section ============================================= */

  .nav-top {
    height: auto;
    align-items: flex-end;
  }

  .nav-top time {
    display: inline-block;
    color: white;
    margin: 1.3em 1.84em;
  }

  .nav-top-right { margin: 0.9em 0.6em; }

  .nav-logo {
    width: 392px;
    height: 61px;
    margin-top: 1.2em;
    margin-bottom: 1em;
    position: relative;
    left: 15px;
  }

  .nav-bottom { display: block; }

  /* =========================================== Main Contents Section ====================================== */

  .main-col1 { width: 71.6%; }

  .main-col2 { width: 28.4%; }

  .col1-left { width: 40%; }

  .col1-right { width: 60%; }
}
