@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');

* { box-sizing: border-box; }

:root {
  --prime-color: #f72210;
}

div { font-family: 'Roboto Condensed', sans-serif; }

a { color: black; }

a:hover {
  text-decoration: none;
  color: black;
}

a.hover-underline:hover { border-bottom: 1px solid var(--prime-color); }

a.hover-prime:hover { color: var(--prime-color); }

a.hover-dark { background-color: #272727; }

.page-container { max-width: 1309px; }

.font-roboto { font-family: 'Roboto Condensed', sans-serif; }

.font-arial { font-family: Arial, Helvetica, sans-serif; }


/* ============================================== Nav Section ============================================= */

nav {
  position: sticky;
  top: -3px;
  z-index: 2;
}

.nav-top {
  background-color: #f72210;
  height: 50px;
  align-items: center;
}

.nav-top time { display: none; }

.nav-logo {
  width: 132px;
  height: 20px;
  margin-left: 1em;
}

.nav-top-right span {
  color: white;
  font-weight: 600;
  font-size: 1.15rem;
}

.btn-subs {
  color: var(--prime-color);
  font-weight: 600;
  font-size: 1.15rem;
  background-color: white;
  padding: 0.2em;
  border: none;
  margin-left: 0.5em;
}

.btn-subs i {
  margin-left: 0.5em;
}

.btn-nav-menu {
  background-color: transparent;
  border: none;
  color: #fb9a94;
  font-size: 1.8rem;
  position: relative;
  top: 4px;
}

.nav-bottom {
  display: none;
  background-color: white;
  padding: 1em 0.2em;
  padding-right: 158px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.nav-bottom .nav-bottom-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.nav-bottom-links span {
  display: inline-block;
  white-space: nowrap;
  flex-grow: 1;
  padding: 0.2em 1px;
  text-align: center;
  border-right: 1px solid #d9d9d9;
}

.nav-bottom a {
  font-size: 1.15rem;
  font-weight: 700;
}

.nav-bottom-links a:hover { color: var(--prime-color); }

.nav-bottom-right {
  position: absolute;
  top: 21px;
  right: 4.6em;
  color: rgba(0, 0, 0, 0.36);
}

.search-span {
  font-size: 1.032rem;
  margin-right: 0.3em;
}

.curvy-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  border-left: 12px solid white;
  border-top: 13px solid var(--prime-color);
}

/* =========================================== Main Contents Section ====================================== */

.main-contents {
  position: relative;
  padding: 0;
  margin-top: 2px;
}

.main-contents section { 
  background-color: white;
  margin-bottom: 1.1em;
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.common-header {
  font-weight: 600;
  color: #a0a0a0;
  margin-bottom: 0.5em;
}

.col1-left,
.col1-right,
.col2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #e2e2e2;
}

/* ==== Col Card styling ==== */

.col-card {
  padding-bottom: 1.2em;
}

.card-img-link {
  display: inline-block;
  position: relative;
  width: 100%;
}

.col-card-img {
  display: block;
  width: 100%;
}

.img-span-rw {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em 0.9em;
  background-color: #e7e7e6;
  font-weight: 600;
  font-size: 17px;
  color: var(--prime-color);
}

.img-span-bw { 
  color: #3581f4;
  padding: 1em 0.8em;
}

.img-span-bb {
  background-color: #c2d4d7;
  color: black;
  padding: 5px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  white-space: nowrap;
}

.card-h1 {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.card-p { 
  font-size: 13px;
  line-height: 20px;
}

/* ========Sponsored Featured Section============== */

.sponsored-featured {
  max-width: 100%;
  line-height: 0;
}

 /* ===== Heroes Section & Culture and Travel Section ===== */

 .heroes-section .card-h1,
 .culture-travel-section .card-h1 {
   font-weight: normal;
   font-size: 20px;
   font-family: 'Lora', serif;
   line-height: 1.1;
 }

 .heroes-section .card-p,
 .culture-travel-section .card-p {
   font-size: 15px;
   color: rgba(39, 39, 39, 0.5);
 }


/* ===== Opinion Section ===== */

.opinion-section {
  padding: 0 15px;
}

.opinion-description {
  margin-left: 0.9em;
}

.opinion-h1 {
  font-size: 17px;
  font-weight: 600;
}

.opinion-author {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #555555;
  margin-top: 0.5em;
}

.debate { position: relative; }

.debate-top,
.debate-bottom { position: relative; }

.debate-top {border-top: 4px solid var(--prime-color); }

.debate-bottom {border-top: 4px solid #1c87fb; }

.d-inner-top {
  padding: 1px 0 1em;
  border-bottom: 3px double #d9d9d9;
}

.debate-img {
  display: inline-block;
  width: 95px;
  height: 95px;
  border: 1px solid darkblue;
}

.debate-img img {
  display: block;
  width: 100%;
  height: 100%
}

.debate .opinion-h1 {
  display: inline-block;
  padding-left: 0.8em;
  width: 73%;
  height: 100%;
  text-align: center;
  padding: 1em 0;
}

.debate-author {
  display: inline-block;
  margin: 1em 0 3em;
  font-size: 14px;
}

.debate-author strong { color: #000; }

.vs-span {
  display: inline-block;
  position: absolute;
  top: 37%;
  left: 50%;
  color: #e2e2e2;
  background-color: black;
  font-size: 21px;
  padding: 0.3em 0.4em;
  border-radius: 50%;
}

.abs-avatar {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10%;
  border-radius: 50%;
  width: 68px;
}

.abs-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ===== Latest News Section ===== */

.latest-news-section { padding: 0 15px; }

/* ===== More Stories Section ===== */
  
.mstories-img-link { padding-right: 1em; }

.more-stories-section .card-h1 {
  font-size: 17px;
  margin-top: 0.18em;
}

/* ===== Sponsored 2 Section ===== */

.sponsored-2-section { 
  line-height: 0;
  margin-bottom: 0;
}

.newsettler-block {
  width: 300px;
  height: 161px;
  background-color: #f4f5f6;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 15px;
  line-height: 1;
}

.n-logo {
  display: inline-block;
  padding: 0.2em 0.3em;
  background-color: var(--prime-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.4em 0.4em 1em 0;
  font-size: 20px;
  font-weight: 900;
}

.news-signup {
  text-transform: uppercase;
  font-size: 19px;
  color: #333;
  font-weight: 600;
  padding-top: 3px;
}

.news-button {
  padding: 10px;
  background-color: #666;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  margin-bottom: 12px;
}

.news-button:hover {
  background-color: #999;
}

.news-link {
  font-size: 15px;
  font-weight: 700;
  color: #666;
}

/* ============================================ IN MAGAZINE SECTION ========================================= */

.in-magazine-container {
  line-height: 0.6;
  padding: 0 15px;
}

.inmag-first-button {
  background-color: #f4f5f6;
  border: none;
  padding: 0.6em;
  font-weight: 600;
  font-size: 18px;
}

.inmag-first-button:hover {
  background-color: #dbdcdd;
}

.in-mag-card { 
  line-height: 1.1;
  margin-bottom: 1.8em;
 }



.inmag-red-span {
  display: inline-block;
  background-color: var(--prime-color);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 7px;
  margin: 0.5em 7px 10px 0;
}

.inmag-rt-span a {
  color: var(--prime-color);
  font-weight: 600;
}

.inmag-h1 {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {

  /* ============================================== Nav Section ============================================= */

  /* =========================================== Main Contents Section ====================================== */

  .main-contents {
    padding: 1.2em 0;
    background-color: white;
  }

  .main-contents section {
    padding: 0 15px;
    border-bottom: none;
  }
  
  .col1-md { width: 44.5%; }

  .col2-md { width: 55.5%; }

  .col1-md,
  .col2-md {
    margin-bottom: 0;
    padding: 0 15px;
    border: none;
  }

  /* ==== Col Card styling ==== */

  .card-h1 { font-size: 24px; }

  .card-p { font-size: 15px; }

  /* ===== Top Story Section == */

  .top-story-section {
  
  }

  .top-story-section .card-h1 { font-size: 22px; }

  /* ===== Featured Stories Section ===== */

  .featured-stories-section {
    
  }

  /* ===== Opinion Section ===== */

  .opinion-section .opinion-h1 {
    
  }

  /* ===== Debate Section ===== */

  .debate-section {
    
  }

  /* ===== Sponsored Featured Section ===== */

  .sponsored-featured .col-card,
  .sponsored-2-section .col-card {
    max-width: 330px;
    margin: auto;
  }

  /* ===== More Stories Section ===== */
  
  .helper-stretch {
    padding-bottom: 1.2em;
  }

  .sticky-part-mstories {
    position: sticky;
    top: 0;
  }

  /* ===== Heroes Section & Culture and Travel Section ===== */

  .heroes-section .card-h1,
  .culture-travel-section .card-h1 {
    font-weight: normal;
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.1;
  }

  .heroes-section .card-p,
  .culture-travel-section .card-p {
    color: rgba(39, 39, 39, 0.5);
  }

   /* ===== Latest News Section ===== */

   .latest-news-section {
    
  }

   /* ===== Sponsored 2 Section ===== */

   .sponsored-2-section {
    
  }

  /* ============================================ IN MAGAZINE SECTION ========================================= */

  /* .inmag-img-link {
    display: inline-block;
    margin-top: 0em;
    height: 75%;
    overflow: hidden;
  }
  
  .inmag-img-link img {
    display: block;
    transform: translate(0, 40%) scale(1.5);
  } */

  .inmag-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2em;
  }

  .in-mag-card {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0;
  }

  .inmag-img-link {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 2em;
    height: 65%;
  }

  .inmag-img-link img {
    position: absolute;
    width: 400px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scale(1.08);
    display: block;
  }

  .inmag-last-card .inmag-img-link { height: 71%; }

  .inmag-last-card .inmag-red-span {
    position: absolute;
    bottom: 0;
    margin: 0;
  }


  .inmag-h1 {
    font-size: 20px;
  }

  .inmag-h1:hover { margin-bottom: 15px; }

}

@media screen and (min-width: 992px) {
  /* ============================================== Nav Section ============================================= */

  nav { position: static; }

  .nav-top {
    height: auto;
    align-items: flex-end;
  }

  .nav-top time {
    display: inline-block;
    color: white;
    margin: 1.3em 1.84em;
  }

  .nav-top-right { margin: 0.9em 0.6em; }

  .nav-logo {
    width: 392px;
    height: 61px;
    margin-top: 1.2em;
    margin-bottom: 1em;
    position: relative;
    left: 15px;
  }

  .nav-bottom { display: block; }

  /* =========================================== Main Contents Section ====================================== */

  .main-contents { 
    padding: 1.2em 0.86em;
  }

  .col1-lg { width: 28.4%; }

  .col2-lg { 
    width: 41%;
  }

  .col3-lg {
    padding: 0 15px;
    width: 30.6%;
  }

  .placeholder {
    height: 570px;
    margin-bottom: 10px;
  }

  .placeholder3x {
    height: 1940px;
    margin-bottom: 10px;
  }

  /* ===== Sponsored Featured Section ===== */

  .sponsored-featured {
    position: absolute; 
    top: 2036px;
    left: 0;
  }

  .sponsored-featured .col-card,
  .sponsored-2-section .col-card {
    margin: auto;
  }

  /* ===== Opinion Section ===== */

  .opinion-section {
    position: absolute;
    right: 0;
  }

  /* ===== Latest News Section ===== */

  .latest-news-section {
    position: absolute;
    right: 0;
    top: 922px;
  }

  /* ===== Sponsored 2 Section ===== */

  .sponsored-2-section {
    position: absolute;
    right: 0;
    top: 1610px
  }

  /* ===== More Stories Section ===== */

  .more-stories-section {
    /* position: sticky;
    top: -850px; */
  }
  
}
